<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="mt-5 mb-5">
                <p *ngIf="isAddMode" class="h1">Criar Movimentação</p>
                <p *ngIf="!isAddMode" class="h1">Editar Movimentação</p>
            </div>
            <form [formGroup]="movementForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="form-conteiner-code" class="form-label">Codigo do Conteiner</label>
                    <input type="text" class="form-control w-25" maxlength="11" formControlName="codigoConteiner"
                        id="form-conteiner-code" aria-describedby="form-conteiner-code"
                        [ngClass]="{'is-invalid': submitted && f['codigoConteiner'].errors}">

                    <div class="invalid-feedback" *ngIf="submitted && f['codigoConteiner'].errors">
                        <div *ngIf=" submitted && f['codigoConteiner'].errors['required']"> O Código do Conteiner é
                            obrigatório</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="form-select-tipo">Tipo de Movimentação</label>
                    <select class="form-select form-select-md mb-3 w-25 mt-2" id="form-select-tipo"
                        aria-label="form-select-lg" formControlName="tipoMov"
                        [ngClass]="{'is-invalid': submitted && f['tipoMov'].errors}">
                        <option value="1">Embarque</option>
                        <option value="2">Descarga</option>
                        <option value="3">Gate in</option>
                        <option value="4">Gate out</option>
                        <option value="5">Reposicionamento</option>
                        <option value="6">Pesagem</option>
                        <option value="7">Scanner</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="submitted && f['tipoMov'].errors">
                        <div *ngIf=" submitted && f['tipoMov'].errors['required']"> A data de Inicio é obrigatória</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="form-datafinal-cliente" class="form-label">Data e Hora Inicial</label>
                    <input type="datetime-local" class="form-control w-25" id="form-datafinal-cliente"
                        aria-describedby="form-datafinal-cliente" formControlName="dtInicio"
                        [ngClass]="{'is-invalid': submitted && f['dtInicio'].errors}">

                    <div class="invalid-feedback" *ngIf="submitted && f['dtInicio'].errors">
                        <div *ngIf=" submitted && f['dtInicio'].errors['required']"> A data de Inicio é obrigatória</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="form-datainicial-cliente" class="form-label">Data e Hora Final</label>
                    <input type="datetime-local" class="form-control w-25" id="form-datainicial-cliente"
                        aria-describedby="form-datainicial-cliente" formControlName="dtFinal"
                        [ngClass]="{'is-invalid': submitted && f['dtFinal'].errors}">

                    <div class="invalid-feedback" *ngIf="submitted && f['dtFinal'].errors">
                        <div *ngIf=" submitted && f['dtFinal'].errors['required']"> A data final é obrigatória</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>